<div class="container">
    <div class="row col-md-12 align-items-center justify-content-center vh-100">
      <div class="col-md-5 text-center">
          <h1>Planning Poker Game</h1>
          <button (click)="manageRoom()" type="button" class="btn btn-primary btn-lg btn-block">Crear</button>
          <button (click)="manageInvited()" type="button" class="btn btn-primary btn-lg btn-block">Unirse</button>
          <input [(ngModel)]="idRoom" type="text" placeholder="ingrese Clave">
      </div>
    </div>
  </div>