<div class="container">
    <div class="row col-md-12 align-items-center justify-content-center vh-100">
      <div class="col-md-5 text-center">
          <h1>Planning Poker Game</h1>
          <button (click)="manageRoom()" type="button" class="btn btn-primary btn-lg btn-block">Crear</button>
          <button (click)="navegarStartInvited()" type="button" class="btn btn-primary btn-lg btn-block">Unirse</button>
          <button type="button" class="btn btn-warning btn-lg">Pintar Hola</button>
          <input type="text" placeholder="Type a message" [(ngModel)]="inputMessage">
      </div>
    </div>
  </div>