<ng-template appDynamicHost></ng-template>
<div class="divCartas" [ngStyle]="{'display':mostrarDivCartas ? 'none': 'flex'}">
        <div class="carta">
                
                0
        </div>

        <div class="carta">
                
                0.5
                
        </div>

        <div class="carta">
                
                1
                
        </div>
        
        <div class="carta">
                
                2
                
        </div>
        <div class="carta" >
                
                3
                
        </div>
        <div class="carta">
                
                5
                
        </div>
        <div class="carta">
                
                8
               
        </div>
        <div class="carta">
                
                13
                
        </div>
        <div  class="carta" >
                
                20
              
        </div>
        <div  class="carta" >
                
                40
                
        </div>
        <div class="carta" >
                
                100
                
        </div>

        <div class="carta" >
                ?
                
        </div>

</div>
 
        <div class="row">
                <button (click)="onblock()" type="button" class="btn btn-primary btn-lg ml-1" *ngIf="OcultarBtn==true">Start voting</button>
                <button  (click)="resultVoting()" type="button" class="btn btn-primary btn-lg ml-1" *ngIf="OcultarBtn==false">Stop voting</button> 
                <button type="button" class="btn btn-warning btn-lg">Feedback</button>
        </div>




