<div class="container">
    <div class="row col-md-12">
    <!--   <app-cabecera></app-cabecera>--> 
        <app-participants [userList]="userList"></app-participants>
    </div>
    <div>

        <div class="div-cartas">
            <app-cartas-voting-invited class="row col-md-12"></app-cartas-voting-invited>
            <div class="div-boquearCartas"><!--[ngClass]="desactivar "esto va dentro del div. solo que esta causando problemas al iniciar la aplicacion"-->
                <p>No se puede votar</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm  btnhost">boton de Star Voting del Host</button><!--(click)="desactivar='d-none'"  "esto va dentro del div. solo que esta causando problemas al iniciar la aplicacion"-->
    </div>
</div>