
.div-cartas{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.div-block{
    display:initial;
}