<div class="container">
    <div class="row col-md-12">
    <!--   <app-cabecera></app-cabecera>--> 
        <app-participants [userList]="userList"></app-participants>
    </div>
    <div>

        <div class="div-cartas">
            <app-cartas-voting-invited class="row col-md-12"></app-cartas-voting-invited>
            <div [ngClass]="ponerquitar ? 'div-boquearCartas':''">
                No se puede votar
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm  btnhost">boton de Star Voting del Host</button>
    </div>
</div>