.div-btnAbajo{
    display: flex;
    justify-content: space-between;
    }

.div-participants-voting{
 display: flex;
 justify-content: center;
 align-items: center;   
 text-align: center;
}
.div-imgPlanning img{
    height: 300px;
    width: 100%;
    }