<div class="container">
    <div class="row col-md-12">
        <div class="div-imgPlanning">
            <img src="../../../assets/img/PlanningPokerimg.jpeg" alt="">
        </div>
        <app-cabecera></app-cabecera>
        <app-participants [userList]="userList" [starVoting]="starVoting" [moveParticipants]="moveParticipants"></app-participants>
    </div>

<!--showParticipants es elevento creado en app cartas q emite hacia el componente padre host-inicio-->
<app-cartas [userList]="userList" [mostrarDivCartas]="mostrarDivCartas" class="row col-md-12" (showParticipants)="procesaPropagar($event)" (noneParticipants)="processMoveParticipants($event)" (showDiv)="showDiv($event) " ></app-cartas>
</div>